* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 使用border-box比較不會有加入padding後，下方有多餘的scroll bar */

  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.headerTitle {
  font-size: 2.5rem;
}

.headerText {
  font-size: 1.5rem;
}

header {
  background-color: #c4c4c4;
  width: 100%;
  padding: 1rem;
}

nav {
  background-color: #3b383c;
}

nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 1rem;
}

nav > ul > li {
  padding: 0.5rem 0.75rem;
}

ul > li > a {
  color: rgb(153, 153, 153);
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 0.25s ease;
}

ul > li > .active {
  color: white;
}

ul > li > a:hover {
  color: white;
}

main {
  width: 100%;
  display: flex;
}

main > .left,
main > .right {
  padding: 1.5rem;
}

main > .right > h4 {
  font-size: 1.25rem;
  text-align: center;
}
