* {
    font-family: Questrial, sans-serif;
}

.navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    padding: 0 20px;
    background: white;
    /* border: black 2px solid; */
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 12px;
}

.navbar__SiteName {
    color: #489846;
    font-size: 36px;
}

.navbar__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

.navbar__list>li {
    margin-left: 12px;
    border-radius: 8px;
    transition: background 0.2s;

}

.navbar__list>li>a {
    text-decoration: none;
    display: block;
    padding: 12px 24px;
    color: black;
    transition: color 0.2s;
}

.active {
    background: #ff7286;
}

.navbar__list>li:hover {
    background: #ff7286;
}

.navbar__list>li>a:hover {
    color: white;
}

.navbar__list li.active a,
.navbar__list li:hover a {
    color: #ffff;
}