/* background */
#box1 {
    /* background-color: red; */
    background: url(./bg.jpg) no-repeat center center;
    background-size: cover;
    width: 450px;
}

#box2 {
    background-color: rgba(255, 100, 100, 0.3);
    border: green solid 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#box3 {
    background: transparent;
    width: 0px;
    height: 0px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    transition: all 1s ease-in;
}

#box3:hover {
    background: transparent;
    width: 0px;
    height: 0px;
    color: white;
    border-top: 100px solid transparent;
    border-bottom: 100px solid green;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    cursor: pointer;
}

/* margin and padding */
#box4 {
    background: orange;
    width: 100px;
    height: 100px;
    padding: 30px;
}

#box5 {
    background: green;
    width: 100px;
    height: 100px;
}

/* 文字相關css */
#box6 {
    background: orange;
    width: 100px;
    height: 100px;
    /* color: white; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /* padding: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
}