<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta name="author" content="Yu Wang" />
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="General" />
    <base target="_self" />
    <meta name="description" content="" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./styles/style.css" /> -->
  </head>
  <body>
    <h1>This is ejs' website</h1>
  </body>
  <!-- <script src="./app.js"></script> -->
</html>
